body{
  background: #ccffcc;
}
* {
  font-family: Georgia;
}
/*wollah*/
h1 {
  color: #009900;
  width: 50%
}


p {
  color: #009900;
  font-size: 18px;
   width: 50%;
}
a {
  color: #214E34;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}
